<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete page</title>
    <link rel="stylesheet" href="static/css/cssPage.css">
</head>
<body>
    <div class="navbar">
        <div class="href" style="background-color: green;">
            <a href="/home">Home</a>
        </div>
        <div class="href">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="container">
        <div class="form-container">
            <form action="/deleteUsingApplicationNo" method="POST">
                <input type="text" name="id" id="" placeholder="Enter ID of client to delete record" required>
                <div style="margin:50px"></div>
                <button type="submit">Confirm Delete (using application no.)</button>
            </form>
        </div>
        <div style="margin:40px;font-weight: bold ;font-size:20px;padding-left: 20%;">--------------------------Select the option above or below this line---------------------------</div>
        <div class="form-container">
            <form action="/deleteUsingName" method="POST">
                <input type="text" name="userName" id="" placeholder="Enter name of client to delete record" required>
                <div style="margin:50px"></div>
                <button type="submit">Confirm Delete (using name)</button>
            </form>
        </div>
    </div>
    <div class="bottom-banner">
        created by Humaid Alam Ansari
    </div>
</body>
</html>