<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read data</title>
    <link rel="stylesheet" href="static/css/cssPage.css">
</head>
<body style="background-image:linear-gradient(to bottom left,white,lightblue,blue);background-repeat: no-repeat;height:100vh">
    <div class="navbar">
        <div class="href" style="background-color: green;">
            <a href="/home">Home</a>
        </div>
        <div class="href">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="successContainer" style="display:flex;align-items:center;justify-content:center;font-size:40px;flex-direction: column;font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;padding-top:200px">
        <p>RECORD INSERTED SUCCESSFULLY !!</p>
        <div style="margin:20px"></div>
        <a href="/createRecord" style="border-style:none;padding:15px;border-radius:7px;text-decoration: none;background:coral;box-shadow:1px 1px 8px 2px red">Want to insert more?(click here)</a>
    </div>
    <div class="bottom-banner">
        created by Humaid Alam Ansari
    </div>
</body>
</html>