<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>update page</title>
    <link rel="stylesheet" href="static/css/cssPage.css">
</head>
<body>
    <div class="navbar">
        <div class="href" style="background-color: green;">
            <a href="/home">Home</a>
        </div>
        <div class="href">
            <a href="/logout">Logout</a>
        </div>
    </div>
    <div class="form-container">
        <form action="/searchAfterUpdate" method="POST">
            <label for="user_id">Application ID</label><br>
            <div style="margin-top:35px"></div>
            <input type="text" name="user_id" id="user_id" placeholder="Enter application ID of client to search">
            <div style="margin-top:35px"></div>
            <button type="submit">Submit</button>
        </form>
    </div>
    </div>
    <div class="bottom-banner">
        created by Humaid Alam Ansari
    </div>
</body>
</html>